{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRS</title>
    <link rel="stylesheet" href="{% static '/style.css' %}">
</head>
<body>
    <h1>This IS The Start Page</h1>
    <!-- <div class="heading"><h1>CROP RECOMMENDATION SYSTEM</h1></div>
    <div class="faram">
        <form id="myForm" action="result" method="get">
            <label for="location">Click to Fetch Location:</label>
            <button class="logo" onclick="locate()"><img src="../static/images/location.png" width="20" height="20" alt="fetch location"></button>
            <input type="hidden" id="latitudeInput" name="latitude" value="">
            <input type="hidden" id="longitudeInput" name="longitude" value="">
            <button class="subutton" onclick="passon()">Submit</button>
        </form>
    </div> -->
      <!-- different -->
    <h1>This Is The Start Page</h1>
    <button onclick="locate()">Get Location</button>
    <form id="myForm" action="result" method="get">
        <input type="hidden" id="latitudeInput" name="latitude" value="">
        <input type="hidden" id="longitudeInput" name="longitude" value="">
        <button type="submit" onclick="passon()">Submit</button>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static '/script.js' %}"></script>
</body>
</html>