body{
    background-image: url('greenfields.jpg');
    background-size: cover;
}

.faram{
    border-radius: 5%;
    width: max-content;
    padding: 10px;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.subutton{
    margin-top: 30px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.subutton button{
    padding: 10px;
    width: 100px;
}

.subutton button:hover{
    transition: background-color 0.3s ease-in-out;
    background-color: green;
    color: white;
    border-radius: 5%;
}


.heading{
    margin-left: auto;
    margin-right: auto;
    color: rgb(14, 98, 7);
    width: max-content;
    margin-top: 100px;
    margin-bottom: 100px;
}

.logo{
    padding: 0;
    border-radius: 50%;
    border-width: 0px;
    background-color: white;
    border-color: black;
    border-radius: 10px;
    margin-left: 40px;
    overflow: hidden;
}

.logo:hover{
    box-shadow: 0 4px 8px rgb(255, 255, 255);
    transform: scale(1.1);
}

input{
    border-radius: 5px;
    outline: none;
    height: 25px;
}

input:focus{
    border-color: #007bff;
}